.contact{
    background: linear-gradient(105deg, rgba(21,31,32, 1) 0%, rgba(21,31,32,.95) 50%, transparent 50%)  ,
    url('./images/contactbg.jpg') no-repeat center center /cover;
    h3 {
        font-family: 'Montserrat', sans-serif;
    }
    .form-group {
       
        input {
            width: 60%;          
        }
        textarea {
            width: 60%;
           
        }
    }
    .submit {
        display: block;
        width: 60%;
    }
}

@media(max-width: 992px) {
    .contact {
        background: linear-gradient(rgba(21,31,32,1), rgba(21,31,32,.95));
    }
    .form-group {
        display: flex;
        justify-content: center;
    }
  
}