header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('../images/headerbg.png') no-repeat center center /cover;
    height: 100vh;
 
    img {
        height: 60px;
        width: 60px;
    }   
    .line {
        height: 3px;
        width: 23px;
        margin:5px
    }
    .change.line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      
      .change.line2 {
        opacity: 0;
      }
      
      .change.line3  {
        transform: rotate(45deg) translate(-5px, -6px);
      }

    .menu-item{
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        margin: 5px;
    }
    .nav-menu {
        background-color: rgba(0,0,0, 0.4);
        padding: 20px;
        transition: all .5s;
    }
    .nav-menu.sticky {
        padding: 0px;
    }

    .banner {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 80%;
      
    }
    
    @media(max-width: 992px) {
        .nav-menu.sticky {
            padding: 20px;
        }  
    }

}