header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url("../images/header-bg.png") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../images/header-bg.png") no-repeat center center/cover;
  height: 100vh;
}

header img {
  height: 60px;
  width: 60px;
}

header .line {
  height: 3px;
  width: 23px;
  margin: 5px;
}

header .change.line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

header .change.line2 {
  opacity: 0;
}

header .change.line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

header .menu-item {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px;
}

header .nav-menu {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .nav-menu.sticky {
  padding: 0px;
}

header .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

@media (max-width: 992px) {
  header .nav-menu.sticky {
    padding: 20px;
  }
}

.underline {
  width: 200px;
  border: 2px solid #333B40;
  margin: auto;
}

.underline-light {
  width: 200px;
  border: 2px solid white;
  margin: auto;
}

.mission {
  background-color: #151f20;
}

.card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("../images/header-bg.png") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/header-bg.png") no-repeat center center/cover;
  max-width: 400px;
  margin: 10px auto;
  -webkit-box-shadow: 7px 18px 50px #555;
          box-shadow: 7px 18px 50px #555;
}

.card .card-list-item {
  border-bottom: 2px groove white;
  width: 55%;
}

.card .btn-warning {
  padding: 8px 16px;
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.card .btn-warning:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.card-1 {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: 1s;
  transition: 1s;
}

.moveFromLeft {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.card-2 {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.opacity {
  opacity: 1;
}

.card-3 {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: 1s;
  transition: 1s;
}

.moveFromRight {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.opinion {
  background-color: #151f20;
}

.opinion .myCarousel {
  height: 60vh;
}

.contact {
  background: linear-gradient(105deg, #151f20 0%, rgba(21, 31, 32, 0.95) 50%, transparent 50%), url("../images/contact-bg.jpg") no-repeat center center/cover;
}

.contact h3 {
  font-family: 'Montserrat', sans-serif;
}

.contact .form-group input {
  width: 60%;
}

.contact .form-group textarea {
  width: 60%;
}

.contact .submit {
  display: block;
  width: 60%;
}

@media (max-width: 992px) {
  .contact {
    background: -webkit-gradient(linear, left top, left bottom, from(#151f20), to(rgba(21, 31, 32, 0.95)));
    background: linear-gradient(#151f20, rgba(21, 31, 32, 0.95));
  }
  .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html {
  scroll-behavior: smooth;
}

.active {
  color: yellow !important;
}
/*# sourceMappingURL=style.css.map */